<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="car">
      <h2 data-cy="carDetailsHeading"><span jhiTranslate="myApp.car.detail.title">Car</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ car.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.car.name">Name</span></dt>
        <dd>
          <span>{{ car.name }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.car.owner">Owner</span></dt>
        <dd>
          <span *ngFor="let owner of car.owners; let last = last">
            <a [routerLink]="['/owner', owner?.id, 'view']">{{ owner.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/car', car.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
