<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rating">
      <h2 data-cy="ratingDetailsHeading"><span jhiTranslate="myApp.rating.detail.title">Rating</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rating.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.rating.name">Name</span></dt>
        <dd>
          <span>{{ rating.name }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.rating.movie">Movie</span></dt>
        <dd>
          <div *ngIf="rating.movie">
            <a [routerLink]="['/movie', rating.movie?.id, 'view']">{{ rating.movie?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rating', rating.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
